body {
  font-family: Helvetica;
  text-align: center;

}
h1 {
  font-size: 70px;
  font-weight: bold;
  color: yellow;
  }
p {
  font-size: 18px;
  color: yellow;
}
h1, p{
  background: "the-flatiron-building.png";

}
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
.text {
  font-size: 14px;
}
.bgcolor {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background: green;
}
.copyright {
  font-size: 11px;
  color: white;
  background: dimgray;
  text-align: left;
}
.footer {
  font-size: 15px;
  color: white;
}
